<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} </title>
    <link rel='stylesheet' href='/stylesheets/register.css'  />
  </head>
  <body>
   <!-- <input type="checkbox" class="reg-btn" id="reg-btn">
<label for="reg-btn" class="reg-btn-label"><span>Registration</span></label>
div class="reg-container" id="nav-cont"> -->
  <div class="input-box-cont">
    <h1 class="heading1">IS App registration</h1>
    <form action="/register" class="form-cont" method="post">
      <input type="email" class="input-box" required autocomplete="off" name="email" placeholder="Email" id="email">
      <input type="text" class="input-box" required autocomplete="off" name="name" placeholder="Name" id="first-pass">
      <input type="password" class="input-box" required autocomplete="off" name="password" placeholder="Repeat password" id="second-pass">
      <input type="submit" value="Registration" class="submit-btn" id="reg-btn-active">
    </form>
  </div>
</div> 
<!--<div class="main-container" id="main-cont">
  <div class="input-box-cont">
    <h1 class="heading1">IS App login</h1>
    <form action="validate.php" class="form-cont" method="post">
      <input type="email" class="input-box" required autocomplete="off" name="email" placeholder="Email">
      <input type="password" class="input-box" required autocomplete="off" name="password" placeholder="Password">
      <input type="submit" value="Login" class="submit-btn">
    </form>
  </div>
</div>-->

<script src="/javascripts/script.js"></script>
  </body>
</html>
